In [2]:
import pandas as pd

1.2 Identifikácia problémov, integrácia a čistenie dát

In [23]:
# load data
df_connections  = pd.read_csv("data/connections.csv", sep="\t")
df_devices      = pd.read_csv("data/devices.csv", sep="\t")
df_processes    = pd.read_csv("data/processes.csv", sep="\t")
df_profiles     = pd.read_csv("data/profiles.csv", sep="\t")

# identification of the problems:
def analyze_dataframe(df, name):
    print(f"\nData set: {name}")
    print(f"Shape: \trows: {df.shape[0]}\n\t\tcolumns: {df.shape[1]}")
    print(f"Missing values:\n{df.isnull().sum()}")
    print(f"Duplicates: {df.duplicated().sum()}")
    print(f"Data types:\n{df.dtypes}")

analyze_dataframe(df_connections, "connections")

Data set: connections
Shape: 	rows: 15056
		columns: 13
Missing values:
ts                   0
imei                 0
mwra                 0
c.android.chrome     0
c.android.youtube    0
c.dogalize           0
c.android.gm         0
c.katana             0
c.UCMobile.intl      0
c.UCMobile.x86       0
c.raider             0
c.updateassist       0
c.android.vending    0
dtype: int64
Duplicates: 179
Data types:
ts                    object
imei                   int64
mwra                 float64
c.android.chrome     float64
c.android.youtube    float64
c.dogalize           float64
c.android.gm         float64
c.katana             float64
c.UCMobile.intl      float64
c.UCMobile.x86       float64
c.raider             float64
c.updateassist       float64
c.android.vending    float64
dtype: object

a) Connections

In [11]:
df_connections.head()

,ts,imei,mwra,c.android.chrome,c.android.youtube,c.dogalize,c.android.gm,c.katana,c.UCMobile.intl,c.UCMobile.x86,c.raider,c.updateassist,c.android.vending
0,2018-05-05 10:00:00,863033069630348727,0.0,9.60395,12.85710,14.28416,8.18164,12.05903,51.17664,65.36801,90.61716,26.55309,94.42555
1,2018-05-05 10:01:00,359043379931766122,1.0,10.90381,13.52655,15.47703,12.35803,9.31984,52.40056,57.22735,52.52705,57.31544,75.44486
2,2018-05-05 10:02:00,359043379931766312,0.0,7.96027,13.93330,11.48817,10.58834,16.41358,24.55276,80.27819,91.63614,49.51560,93.00705
3,2018-05-05 10:03:00,8630330696303482329,0.0,7.96574,14.28029,11.68449,13.39682,14.09485,44.81360,34.26693,56.53248,4.51390,27.06048
4,2018-05-05 10:04:00,3590433799317661099,1.0,12.77276,10.43295,10.16739,12.20800,6.18137,34.43871,59.20602,79.33347,27.09736,81.58699

In [10]:
df_connections.isnull().sum()

ts                   0
imei                 0
mwra                 0
c.android.chrome     0
c.android.youtube    0
c.dogalize           0
c.android.gm         0
c.katana             0
c.UCMobile.intl      0
c.UCMobile.x86       0
c.raider             0
c.updateassist       0
c.android.vending    0
dtype: int64

In [18]:
df_connections.describe()
df_connections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15056 entries, 0 to 15055
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ts                 15056 non-null  object
 1   imei               15056 non-null  int64
 2   mwra               15056 non-null  float64
 3   c.android.chrome   15056 non-null  float64
 4   c.android.youtube  15056 non-null  float64
 5   c.dogalize         15056 non-null  float64
 6   c.android.gm       15056 non-null  float64
 7   c.katana           15056 non-null  float64
 8   c.UCMobile.intl    15056 non-null  float64
 9   c.UCMobile.x86     15056 non-null  float64
 10  c.raider           15056 non-null  float64
 11  c.updateassist     15056 non-null  float64
 12  c.android.vending  15056 non-null  float64
dtypes: float64(11), int64(1), object(1)
memory usage: 1.5+ MB

b) devices

In [12]:
df_devices.head()

   latitude  longitude store_name code        location                 imei
0  30.35028  112.19028   Jingzhou   CN   Asia/Shanghai   359043379931766676
1  40.65995 -111.99633     Kearns   US  America/Denver   359043379931766486
2  16.05670  103.65309     Roi Et   TH    Asia/Bangkok   359043379931766536
3 -17.73648  168.31366  Port-Vila   VU   Pacific/Efate   359043379931766833
4   4.96667   10.70000      Tonga   CM   Africa/Douala  8630330696303481743

c) devices

In [13]:
df_devices.isnull().sum()

latitude      0
longitude     0
store_name    0
code          1
location      0
imei          0
dtype: int64

d) processes

In [12]:
df_processes.head()

,ts,imei,mwra,p.android.externalstorage,p.system,p.android.packageinstaller,p.android.settings,p.android.chrome,p.android.gm,p.android.documentsui,...,p.olauncher,p.dogalize,p.android.gms,p.simulator,p.katana,p.inputmethod.latin,p.browser.provider,p.android.defcontainer,p.android.vending,p.google
0,2018-05-05 10:00:00,863033069630348727,0.0,12.71345,13.93596,7.37375,8.63678,7.59294,14.50294,12.49939,...,42.36961,24.39972,38.28394,39.75150,70.08727,35.39702,46.96978,94.36793,19.26230,8.71761
1,2018-05-05 10:01:00,359043379931766122,1.0,14.00354,13.66329,8.76390,8.45907,11.54816,9.23023,10.96660,...,43.50996,96.63160,35.35377,8.57826,21.30530,74.91400,28.78964,98.36045,2.67159,96.75896
2,2018-05-05 10:02:00,359043379931766312,0.0,9.12135,12.02995,15.24475,5.03619,9.25225,11.32397,8.95241,...,62.37735,72.10850,55.73124,85.87342,32.33386,55.19794,89.99140,80.51936,37.73145,89.03029
3,2018-05-05 10:03:00,8630330696303482329,0.0,10.02552,10.88392,15.14466,4.58649,7.65930,12.54341,6.13562,...,46.12254,40.36473,21.76176,0.98452,50.83786,90.78544,49.59389,51.32614,90.17701,39.10998
4,2018-05-05 10:04:00,3590433799317661099,1.0,10.18964,10.99286,8.52306,10.09407,13.85506,9.55446,7.87986,...,70.66280,51.37859,74.10500,42.63423,19.35378,47.21558,95.60708,96.18907,21.60796,33.91152

In [14]:
df_processes.isnull().sum()

ts                            0
imei                          0
mwra                          0
p.android.externalstorage     0
p.system                      0
p.android.packageinstaller    0
p.android.settings            0
p.android.chrome              0
p.android.gm                  0
p.android.documentsui         0
p.process.gapps               0
p.gms.persistent              0
p.notifier                    0
p.olauncher                   0
p.dogalize                    0
p.android.gms                 0
p.simulator                   0
p.katana                      0
p.inputmethod.latin           0
p.browser.provider            0
p.android.defcontainer        0
p.android.vending             0
p.google                      0
dtype: int64

In [16]:
df_profiles.head()

,mail,imei,birthdate,username,user_id,address,ssn,job,registration,current_location,company,name
0,melissajohnson@gmail.com,3590433799317661495,1927-05-24,onealjason,262,NaN,283-10-3548,NaN,"01/06/2021, 00:00:00","(Decimal('-66.534360'), Decimal('-20.750866'))",Hernandez-Gomez,Sara Allen
1,isabellahenderson@gmail.com,359043379931766338,1952-05-17,achang,351,"11074 Nelson Mills\nPort Douglaston, GA 41980",220-76-7219,NaN,11 Oct 2022,"(Decimal('64.457831'), Decimal('61.662934'))",Wood-Turner,Allen Day
2,abigail33@yahoo.com,359043379931766940,1929-07-04,burgessedward,2558,"0755 Scott Parks Apt. 877\nBowersborough, PW 0...",559-66-9181,Academic librarian,"05/17/2024, 00:00:00","(Decimal('-19.5608945'), Decimal('-175.139772'))","Underwood, Hughes and Alexander",Michelle Martin
3,haleyjanice@hotmail.com,3590433799317661990,1974-09-21,marshlisa,2619,NaN,198-29-6956,NaN,08 Jun 2019,"(Decimal('80.5917705'), Decimal('-34.292908'))",Ramos-Carroll,Samantha Lewis
4,brandy34@gmail.com,8630330696303482196,1926-02-20,gregorystephanie,1630,"99026 Dana Court Apt. 233\nEast Nathanhaven, W...",611-79-1165,NaN,2022/05/28,"(Decimal('-24.8391805'), Decimal('42.738041'))",Williams-Torres,Alan Smith

In [15]:
df_profiles.isnull().sum()

mail                   0
imei                   0
birthdate           1180
username               0
user_id                0
address              393
ssn                    0
job                 1836
registration           0
current_location     131
company                0
name                   0
dtype: int64